<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac6c758d-fd56-4454-bed3-fcb1aae52ebe" Alias="[MultiURLPicker] Single Url Picked" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single Url Picked</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>