<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f874663e-655e-4e16-9f1e-6af877ee9c5c" Alias="[Repeatabletextstrings] Models" Level="1">
  <Info>
    <Name>[Repeatabletextstrings] Models</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>