<?xml version="1.0" encoding="utf-8"?>
<Media Key="80f4d9f2-0dc8-4a34-91af-4358f71c09e4" Alias="Car And Chassis X Ray Blueprint 600X450 Via 10015 Io" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarAndChassisXRayBlueprint600X450Via10015Io</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-13T16:27:34</CreateDate>
    <NodeName Default="Car And Chassis X Ray Blueprint 600X450 Via 10015 Io" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4tmpjagi/car-and-chassis-x-ray-_-blueprint_600x450_via_10015_io.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>