<?xml version="1.0" encoding="utf-8"?>
<Media Key="f48b4149-a2fb-4ec3-81af-d69e03e5e9f2" Alias="Carcover" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Carcover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-13T14:00:52</CreateDate>
    <NodeName Default="Carcover" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3ajx3h1/carcover.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>