<?xml version="1.0" encoding="utf-8"?>
<Media Key="864e1ebb-b742-45b9-8854-f027e92bb34c" Alias="Future Forward 'Car Dieting' Is Back In Vogue 801X450 Via 10015 Io" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FutureForwardCarDietingIsBackInVogue801X450Via10015Io</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-13T16:29:44</CreateDate>
    <NodeName Default="Future Forward 'Car Dieting' Is Back In Vogue 801X450 Via 10015 Io" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xupe3bsc/future-forward_-car-dieting-is-back-in-vogue_801x450_via_10015_io.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>