<?xml version="1.0" encoding="utf-8"?>
<Media Key="d15cb29f-9a41-4335-a9e0-2a457b446265" Alias="Screenshot 20221207 110428" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20221207110428</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-12T22:25:32</CreateDate>
    <NodeName Default="Screenshot 20221207 110428" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgzfzukb/screenshot_20221207_110428.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>