@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SelectPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<body>

    <div class="container overflow-hidden text-center">
        <div class="row gy-5">

           @* //aqedan*@
            <div class="col-6">
                <div class="p-3 border bg-light">
                    <div class="row">
                        <h5>mercedes benz</h5>
                    </div>
                    <div class="row">
                        <h7>Production:</h7>
                    </div>
                    <div class="row">
                        <img src="@Model.Icon.Url()" class="img-thumbnail" alt="Car">
                    </div>
                    <div class="row">
                        <h5>View Details</h5>
                    </div>
                
                </div>
            </div>

           @* //aqamde*@
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
        </div>
    </div>
</body>