@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SelectPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@{
	Layout = "Master.cshtml";
}

<body>

    
	<div class="container overflow-hidden text-center">
		<div class="row gy-5">
   @Html.GetBlockListHtml(Model.MainContent)
	   </div>
</div>
</body>