<?xml version="1.0" encoding="utf-8"?>
<Content Key="279d674b-c484-4545-8005-1ab2989df56a" Alias="Add Vehicle" Level="2">
  <Info>
    <Parent Key="c9521c21-41c3-4afb-a303-211f4d1dcf63">Home</Parent>
    <Path>/Home/AddVehicle</Path>
    <Trashed>false</Trashed>
    <ContentType>postPage</ContentType>
    <CreateDate>2022-12-13T23:34:40</CreateDate>
    <NodeName Default="Add Vehicle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d54c02b3-6e90-4f58-9602-39900fbac832">PostPage</Template>
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "2ef65831-83ee-4a69-9deb-d44f24a16203",
    "mediaKey": "804b4615-d990-4453-b970-fb3199a27867"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>