<?xml version="1.0" encoding="utf-8"?>
<Content Key="125e1ddf-56d6-404a-a31c-4a637c3b8d93" Alias="All Cars" Level="2">
  <Info>
    <Parent Key="c9521c21-41c3-4afb-a303-211f4d1dcf63">Home</Parent>
    <Path>/Home/AllCars</Path>
    <Trashed>false</Trashed>
    <ContentType>allCarsPage</ContentType>
    <CreateDate>2022-12-16T13:37:50</CreateDate>
    <NodeName Default="All Cars" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b79e358a-9af4-42c7-8e1d-8d2edc098598">AllCarsPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <icon>
      <Value><![CDATA[[
  {
    "key": "41f1b596-7ff9-46e1-b026-58c2181b5dc1",
    "mediaKey": "804b4615-d990-4453-b970-fb3199a27867"
  }
]]]></Value>
    </icon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/81c7b0b9f03a4c7daea0397d15ac92c0",
        "settingsUdi": "umb://element/0bf0558fdd4846b085ea50fdfcd0a0b5"
      },
      {
        "contentUdi": "umb://element/790f3ea3cc644c2fa6bb0c599261db22",
        "settingsUdi": "umb://element/283159cf665541d29e3ac635dc1f26fd"
      },
      {
        "contentUdi": "umb://element/a152218bd65447b8ac89096649e4df1b",
        "settingsUdi": "umb://element/591f3c3449284e38ad25950f847f0e97"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9ca8f359-2460-425b-ae9d-2d5103940850",
      "udi": "umb://element/81c7b0b9f03a4c7daea0397d15ac92c0",
      "make": "Mercedes",
      "model": "Gla",
      "year": "2015-2018",
      "image": [],
      "link": null
    },
    {
      "contentTypeKey": "9ca8f359-2460-425b-ae9d-2d5103940850",
      "udi": "umb://element/790f3ea3cc644c2fa6bb0c599261db22",
      "make": "Mercedes",
      "model": "Gla",
      "year": "2018-2021",
      "image": [],
      "link": null
    },
    {
      "contentTypeKey": "9ca8f359-2460-425b-ae9d-2d5103940850",
      "udi": "umb://element/a152218bd65447b8ac89096649e4df1b",
      "make": "Mercedes",
      "model": "Gla",
      "year": "2021-Present",
      "image": [],
      "link": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "df1b82c2-5a4b-4155-bbe3-e21add4996b4",
      "udi": "umb://element/0bf0558fdd4846b085ea50fdfcd0a0b5",
      "hide": "0"
    },
    {
      "contentTypeKey": "df1b82c2-5a4b-4155-bbe3-e21add4996b4",
      "udi": "umb://element/283159cf665541d29e3ac635dc1f26fd",
      "hide": "0"
    },
    {
      "contentTypeKey": "df1b82c2-5a4b-4155-bbe3-e21add4996b4",
      "udi": "umb://element/591f3c3449284e38ad25950f847f0e97",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>