<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9521c21-41c3-4afb-a303-211f4d1dcf63" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-12-12T21:43:13</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32e6ec2f-5e06-438a-af63-a6961ab7c432">HomePage</Template>
  </Info>
  <Properties>
    <adImage>
      <Value><![CDATA[[
  {
    "key": "a41520a1-0293-44ec-92c3-6498d1642723",
    "mediaKey": "80f4d9f2-0dc8-4a34-91af-4358f71c09e4"
  }
]]]></Value>
    </adImage>
    <adImage2>
      <Value><![CDATA[[
  {
    "key": "def4b572-9dbe-42fe-8a82-1bba423e654d",
    "mediaKey": "5d483f8a-b4a2-4956-a45e-1736c635417d"
  }
]]]></Value>
    </adImage2>
    <adImage3>
      <Value><![CDATA[[
  {
    "key": "27f41e9e-6a13-4e01-8b0f-d304422694a9",
    "mediaKey": "3352470f-d5c2-43f9-acee-875963d70dba"
  }
]]]></Value>
    </adImage3>
    <back_Image>
      <Value><![CDATA[[
  {
    "key": "f661ddac-e28b-4db5-86ce-1437eeceef27",
    "mediaKey": "44315402-c61c-4402-94f2-fbf8ef5329b6"
  }
]]]></Value>
    </back_Image>
    <icon>
      <Value><![CDATA[[
  {
    "key": "51004aac-44e4-4dd2-8388-d768dd4f83f4",
    "mediaKey": "804b4615-d990-4453-b970-fb3199a27867"
  }
]]]></Value>
    </icon>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/c9521c2141c34afba303211f4d1dcf63"
  },
  {
    "name": "Vehicles",
    "udi": "umb://document/bcfff5cc6166452880dadf8e9b913087"
  },
  {
    "name": "Add Vehicle",
    "udi": "umb://document/279d674bc484454580051ab2989df56a"
  }
]]]></Value>
    </mainNavigation>
    <title>
      <Value><![CDATA[CarDet]]></Value>
    </title>
  </Properties>
</Content>