<?xml version="1.0" encoding="utf-8"?>
<Content Key="377a08ea-d2da-436c-bddd-6c8586159eb2" Alias="Vehicle Info" Level="2">
  <Info>
    <Parent Key="c9521c21-41c3-4afb-a303-211f4d1dcf63">Home</Parent>
    <Path>/Home/VehicleInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>infoPage</ContentType>
    <CreateDate>2022-12-15T13:37:14</CreateDate>
    <NodeName Default="Vehicle Info" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee3f20b-edb4-4d1e-922c-abda213f76e5">InfoPage</Template>
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "b517b71e-226d-4ca3-a626-3c33e279a479",
    "mediaKey": "804b4615-d990-4453-b970-fb3199a27867"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>