<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcfff5cc-6166-4528-80da-df8e9b913087" Alias="Vehicles" Level="2">
  <Info>
    <Parent Key="c9521c21-41c3-4afb-a303-211f4d1dcf63">Home</Parent>
    <Path>/Home/Vehicles</Path>
    <Trashed>false</Trashed>
    <ContentType>selectPage</ContentType>
    <CreateDate>2022-12-13T12:17:21</CreateDate>
    <NodeName Default="Vehicles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a9f83b10-9f0c-4407-a974-5875312f5728">SelectPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <icon>
      <Value><![CDATA[[
  {
    "key": "93dc7664-ebb7-40c8-91cb-fd0da13c1105",
    "mediaKey": "804b4615-d990-4453-b970-fb3199a27867"
  }
]]]></Value>
    </icon>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a7337f98855b47779134efee71c19b17"
      },
      {
        "contentUdi": "umb://element/06475d836dd34ff4b3c50acd93842f47"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9ca8f359-2460-425b-ae9d-2d5103940850",
      "udi": "umb://element/a7337f98855b47779134efee71c19b17",
      "make": "Mercedes",
      "model": "Gla",
      "year": "2017",
      "image": [
        {
          "key": "ea761773-ffd9-4335-9e76-c4e4d00bdbac",
          "mediaKey": "f48b4149-a2fb-4ec3-81af-d69e03e5e9f2"
        }
      ],
      "link": [
        {
          "name": "Vehicle Info",
          "udi": "umb://document/377a08ead2da436cbddd6c8586159eb2"
        }
      ]
    },
    {
      "contentTypeKey": "9ca8f359-2460-425b-ae9d-2d5103940850",
      "udi": "umb://element/06475d836dd34ff4b3c50acd93842f47",
      "make": "Toyota",
      "model": "Highlander",
      "year": "2017-2019",
      "image": [
        {
          "key": "cdd73a8a-04e6-4418-985b-3a9df7aa73b5",
          "mediaKey": "80f4d9f2-0dc8-4a34-91af-4358f71c09e4"
        }
      ],
      "link": [
        {
          "name": "Vehicle Info",
          "udi": "umb://document/377a08ead2da436cbddd6c8586159eb2"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>