<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b51bd9d-5720-4e9f-a87a-e2c314021793" Alias="allCarsPage" Level="2">
  <Info>
    <Name>AllCars Page</Name>
    <Icon>icon-car color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e505879c-13dc-43d8-8e3a-1484be5e1609">contentProperties</Composition>
      <Composition Key="aaf0e059-172b-4e97-8a74-91009b4f21db">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>AllCarsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b79e358a-9af4-42c7-8e1d-8d2edc098598">AllCarsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>