<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49207932-ab03-418e-b170-92d33b0a7f1a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ff432a0c-cfcd-476e-943a-7de7b46d9051">footerProperties</Composition>
      <Composition Key="aaf0e059-172b-4e97-8a74-91009b4f21db">headerProperties</Composition>
      <Composition Key="f3301df6-9df7-4e75-b3dc-5aaa1f5d35fe">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32e6ec2f-5e06-438a-af63-a6961ab7c432">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="588d79a6-8a94-4af4-964f-d4bbda220e3c" SortOrder="0">selectPage</ContentType>
    <ContentType Key="67bf0a16-82ba-48be-a82b-79066f0c120d" SortOrder="1">postPage</ContentType>
    <ContentType Key="4b1490e8-f37b-4af9-ba05-4ae1d81a5880" SortOrder="2">infoPage</ContentType>
    <ContentType Key="7b51bd9d-5720-4e9f-a87a-e2c314021793" SortOrder="3">allCarsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ecc6cb15-9e6e-4e0b-b7a9-d82579775836</Key>
      <Name>AdImage1</Name>
      <Alias>adImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyEl">BodyEl</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ff85b9b-b2e1-499f-8413-99178c785221</Key>
      <Name>AdImage2</Name>
      <Alias>adImage2</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bodyEl">BodyEl</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>508ac8c9-26d2-4b3b-81fa-d4a4ed7ff5a5</Key>
      <Name>AdImage3</Name>
      <Alias>adImage3</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bodyEl">BodyEl</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>955b91ce-7e2e-4d83-803b-f7a154ea1bef</Key>
      <Name>Back_Image</Name>
      <Alias>back_Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c98a9af-7cf6-44b6-aa62-8f0252f6bb2d</Key>
      <Caption>BodyEl</Caption>
      <Alias>bodyEl</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e5d2fcba-c13d-4c79-b302-f09c54d0ab4c</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>