<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b1490e8-f37b-4af9-ba05-4ae1d81a5880" Alias="infoPage" Level="2">
  <Info>
    <Name>Info Page</Name>
    <Icon>icon-car color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="aaf0e059-172b-4e97-8a74-91009b4f21db">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>InfoPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cee3f20b-edb4-4d1e-922c-abda213f76e5">InfoPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>