<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="588d79a6-8a94-4af4-964f-d4bbda220e3c" Alias="selectPage" Level="2">
  <Info>
    <Name>Select Page</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e505879c-13dc-43d8-8e3a-1484be5e1609">contentProperties</Composition>
      <Composition Key="aaf0e059-172b-4e97-8a74-91009b4f21db">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>SelectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a9f83b10-9f0c-4407-a974-5875312f5728">SelectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>